{% extends 'AppBundle::base.html.twig' %}
{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <form id="form-annu" action="POST">
                    <h1>Annuaire</h1>
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" class="form-control" id="_name" name="_name" aria-describedby="name-help" placeholder="Nom">
                        <small id="name-help" class="form-text text-muted">Pour la recherche laisser vide les champs non recherchés.</small>
                    </div>
                    <div class="form-group">
                        <label for="phone">Téléphone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Téléphone">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        <button id="btn-search" class="btn btn-primary">Rechercher</button>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="result" rows="3"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
{% block script %}
    <script>
        $( document ).ready(function() {

            $("#form-annu").submit(function(e){alert('add');
                e.preventDefault();

                $.ajax({
                    type: "POST",  //todo : récupérer les vrai url avec le router de symfony
                    url: 'http://localhost/app_dev.php/add/'+$('#_name').val()+'/'+$('#phone').val(),
                    success: function(data)  // toto: gêter les erreurs
                    {
                        console.log(data); // show response from the php script.
                    }
                });

            });



            $("#btn-search").click(function(e){
                e.preventDefault();
                $('#result').text('');
                var name = $('#_name').val();
                if (name.trim() === '' ) {
                    name = '__'; // ne pas rechercher le nom
                }
                var phone = $('#phone').val();
                if (phone.trim() === '' ) {
                    phone = '__'; // ne pas rechercher le téléphone
                }
                $.ajax({
                    type: "POST",  //todo : récupérer les vrai url avec le router de symfony
                    url: 'http://localhost/app_dev.php/search/'+name+'/'+phone,
                    success: function(data)  // toto: gêter les erreurs
                    {
                        console.log(data); // show response from the php script.
                        var result='';
                        var r=JSON.parse(data);console.log(r);
                        for (var i=0;i<r.length;i++)
                        $('#result').text(r[i].name+' '+r[i].phone);
                    }
                });

            });
        });
    </script>
{% endblock %}